<p>Hello {{order.user.name}}</p>
<p>This is your order</p>
<table>
  <thead>
    <tr>
      <th>Payment Method</th>
      <th>Total Price</th>>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{order.paymentMethod}}</td>
      <td>{{order.totalItemPrice}}</td>
    </tr>
  </tbody>
</table>